.type-001 #menu {
  height: 252px;
  background: #121618;
  position: relative;
  color: #dce4e8;
}
.type-001 #menu .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.type-001 #menu ul.menu {
  list-style: none;
}
.type-001 #menu ul.menu li {
  float: left;
  position: relative;
}
.type-001 #menu ul.menu li a {
  line-height: 45px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0px 20px;
  color: #fff;
  display: block;
  font-family: 'PT Sans Narrow';
}
.type-001 #menu ul.menu li a:hover {
  color: #ff0;
}
.type-001 #menu ul.menu li ul {
  width: 230px;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}
.type-001 #menu ul.menu li ul li {
  background: #1d8b1f;
  display: block !important;
  float: none;
  border-bottom: 1px solid #959392;
  text-align: left;
}
.type-001 #menu ul.menu li ul li:last-child {
  border-bottom: none;
}
.type-001 #menu ul.menu li ul li a {
  background: none !important;
  color: #fff !important;
  line-height: normal !important;
  padding: 10px 20px;
}
.type-001 #menu ul.menu li ul li a:hover {
  color: #ff0 !important;
}
.type-001 #menu ul.menu li ul li ul {
  top: 0;
  left: 100%;
}
.type-001 #menu #search {
  display: inline;
  position: absolute;
  top: 10px;
  right: 10px;
}
.type-001 #menu #search button {
  background: none;
  border: none;
}
.type-001 #btn_menu_bootstrap {
  z-index: 999;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 24px;
  width: 30px;
  display: none;
}
.type-001 #btn_menu_bootstrap span {
  background: #fff;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -1px;
}
.type-001 #btn_menu_bootstrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 0;
  left: 0;
}
.type-001 #btn_menu_bootstrap:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.type-001 #btn_menu_bootstrap:before,
.type-001 #btn_menu_bootstrap:after {
  transform-origin: left 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.type-001 .move_btn_bootstrap:before {
  transform: rotate(45deg);
}
.type-001 .move_btn_bootstrap:after {
  transform: rotate(-45deg);
}
.type-001 .move_btn_bootstrap span {
  left: -200% !important;
}
.type-001 .mobile img {
  width: 57%;
}
.type-001 .nav_right {
  position: relative;
  padding-top: 87px;
}
.type-001 .nav_left {
  position: relative;
  padding-top: 87px;
  padding-left: 90px;
}
.type-001 .nav-slidebar {
  padding: 0 70px;
}
.type-001 .vincent_quick_contact {
  letter-spacing: 3px;
}
.type-001 .vincent_hphone {
  font-size: 16px;
  font-weight: 700;
}
.type-001 .vincent_hwh {
  font-size: 13px;
  opacity: 0.5;
  margin-top: 4px;
}
.type-001 .logo {
  padding-top: 65px;
  padding-bottom: 55px;
  text-align: center;
}
.type-001 .listf ul {
  display: block;
  margin: 0;
  padding: 0;
}
.type-001 .listf li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  line-height: 14px;
  letter-spacing: 3px;
  font-size: 14px;
}
.type-001 .listf li a {
  text-decoration: none;
  color: #ffffff;
}
.type-001 .listf li a:hover {
  color: orange;
}
.type-001 img {
  width: 31%;
}
@media screen and (max-width: 1170px) {
  #menu ul.menu {
    display: none;
  }
  #btn_menu_bootstrap {
    display: block !important;
  }
  .contain_search {
    float: right;
  }
}
