.type-02 .swiper-pagination {
  position: relative;
}
.type-02 .swiper-button-next:hover {
  border: none;
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-02 .swiper-button-prev:hover {
  border: none;
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-02 .swiper-container-horizontal .swiper-pagination-bullets {
  bottom: 50px;
}
.type-02 .swiper-container-horizontal .swiper-pagination-bullet-active {
  background: #fff;
}
.type-02 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-02 .swiper-slide {
  background-position: center;
  background-size: cover;
}
.type-02 .slide {
  font-weight: bold;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.type-02 .slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-02 .slide a,
.type-02 .slide a:focus,
.type-02 .slide a:hover {
  text-decoration: none;
}
.type-02 .slide .img-slide {
  position: absolute;
  top: 0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-02 .slide .img-slide .bg {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.type-02 .slide h1 {
  font-size: 44px;
}
.type-02 .slide .mini-title {
  color: #6cd31d;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  font-size: 15px;
  transform-origin: 50% 50% 0px;
  position: absolute;
  visibility: visible;
  left: 500px;
  top: 220px;
  z-index: 5;
}
.type-02 .slide .text-slide {
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  position: absolute;
  left: 300px;
  top: 220px;
  min-width: 550px;
  max-width: 550px;
  z-index: 5;
  color: #FFF;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 13% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    left: 5%;
    top: 15%;
    font-size: 60px;
    min-width: 60%;
    max-width: 60%;
    line-height: 30px;
  }
  .type-02 .slide .img-slide {
    height: 400px !important;
    width: 100% !important;
  }
}
@media (max-width: 827px) and (min-width: 242px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide h1 {
    font-size: 33px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 13% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    left: 5%;
    top: 15%;
    font-size: 5px;
    min-width: 60%;
    max-width: 60%;
    line-height: 10px;
  }
  .type-02 .slide .img-slide {
    height: 400px !important;
    width: 100% !important;
  }
}
@media (max-width: 720px) and (min-width: 242px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 20% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    left: 5%;
    top: 20%;
    font-size: 5px;
    min-width: 60%;
    max-width: 60%;
    line-height: 10px;
  }
  .type-02 .slide .img-slide {
    height: 400px !important;
    width: 100% !important;
  }
}
@media (max-width: 595px) and (min-width: 242px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 13% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    left: 5%;
    top: 15%;
    font-size: 5px;
    min-width: 60%;
    max-width: 60%;
    line-height: 10px;
  }
  .type-02 .slide .img-slide {
    height: 400px !important;
    width: 100% !important;
  }
}
@media (max-width: 446px) and (min-width: 242px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 8% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    top: 10%;
    font-size: 1px;
    min-width: 90%;
    max-width: 90%;
    line-height: 10px;
  }
  .type-02 .slide .img-slide {
    height: 400px !important;
    width: 100% !important;
  }
}
@media (max-width: 387px) and (min-width: 150px) {
  .type-02 .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 220px;
  }
  .type-02 .slide {
    height: 600px;
  }
  .type-02 .slide .mini-title {
    left: 5% !important;
    top: 8% !important;
    color: #a8d8ee;
    font-size: 18px;
  }
  .type-02 .slide .text-slide {
    top: 10%;
    font-size: 1px;
    min-width: 90%;
    max-width: 90%;
    line-height: 10px;
  }
  .type-02 .slide .slide ul .img-slide {
    height: 300px !important;
    width: 100% !important;
  }
}
