.type-18 {
  background: #121618;
}
.type-18 .margin {
  margin-right: 0px;
  margin-left: 0px;
}
.type-18 .pagination li.active a {
  background: #121618;
  color: white;
  border-color: white;
}
.type-18 .tieude {
  text-align: center;
  color: #dce4e8;
  font-family: "PT Sans Narrow";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 3px;
  margin-bottom: 57px;
}
.type-18 .tieude h2 {
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}
.type-18 .products {
  padding: 63px 0px;
}
.type-18 .products img {
  border-radius: 50%;
  width: 62%;
}
.type-18 .products .bao_products {
  position: relative;
  margin-bottom: 80px;
}
.type-18 .products .bao_products .img_product {
  position: absolute;
  top: -58px;
  z-index: 1;
  left: 29%;
}
.type-18 .products .bao_products .content_product {
  padding: 85px 50px 40px;
  background: #1d2326;
  color: white;
  text-align: center;
  cursor: pointer;
}
.type-18 .products .bao_products .content_product h2 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.type-18 .products .bao_products .content_product h2:hover {
  color: #ffc851;
}
.type-18 .products .bao_products .content_product p {
  margin: 0 0 18px;
  color: #dce4e8 !important;
  line-height: 27px;
}
.type-18 .products .bao_products .content_product .add_to_cart {
  position: relative;
}
.type-18 .products .bao_products .content_product .add_to_cart a {
  text-decoration: none;
  color: white;
  display: table;
  padding: 6px 29px 6px 19px;
  border: 2px solid white;
  margin: 40px auto;
}
.type-18 .products .bao_products .content_product .add_to_cart a:hover {
  transition: 0.5s all;
  color: #ffc851;
  border: 2px solid #ffc851;
}
.type-18 .products .bao_products .content_product .add_to_cart a:after {
  content: "\f105";
  font-family: "FontAwesome", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 6px;
  right: 13%;
}
.type-18 .products .bao_products .price {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3px;
  margin-bottom: 36px;
}
@media only screen and (max-width: 991px) {
  .type-18 .products img {
    border-radius: 50%;
    width: 48%;
  }
  .type-18 .products .bao_products .img_product {
    position: absolute;
    top: -76px;
    z-index: 1;
    left: 36%;
  }
  .type-18 .products .bao_products .content_product {
    padding: 83px 181px 40px;
  }
}
@media only screen and (max-width: 1999px) {
  .type-18 .products .bao_products .content_product h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 795px) {
  .type-18 .products .bao_products .content_product .add_to_cart a:after {
    right: 17%;
  }
}
@media only screen and (max-width: 766px) {
  .type-18 .products .bao_products .content_product .add_to_cart a:after {
    right: 33%;
  }
}
@media only screen and (max-width: 650px) {
  .type-18 .products .bao_products .content_product .add_to_cart a:after {
    right: 20%;
  }
}
