.type-18 {
  background: #121618;
}
.type-18 .bao_all .bao_tieude {
  display: flex;
  justify-content: space-around;
}
.type-18 .bao_all .tieude_nho p {
  color: white;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 0px;
  margin: 6px 0 70px;
}
.type-18 .bao_all .orderby {
  color: white;
  background: transparent;
  border: solid 2px;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 9px 9px 8px;
  margin: 10px 0 0 0;
}
.type-18 .bao_all select option {
  color: black !important;
}
.type-18 .products img {
  border-radius: 50%;
}
.type-18 .products .img_product {
  position: absolute;
  top: -65px;
  z-index: 1;
  left: 24%;
}
.type-18 .products .content_product {
  width: 88%;
  padding: 123px 50px 40px;
  position: relative;
  background: #1d2326;
  color: white;
  text-align: center;
}
.type-18 .products .content_product h2 {
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 13px;
}
.type-18 .products .content_product p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
  max-height: 50px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 400;
}
.type-18 .products .content_product .add_to_cart {
  position: relative;
}
.type-18 .products .content_product .add_to_cart a {
  text-decoration: none;
  color: white;
  display: table;
  padding: 10px;
  border: 3px solid white;
  width: 60%;
  margin: 10px auto;
}
.type-18 .products .content_product .add_to_cart a:hover {
  transition: 0.5s all;
  color: #ffc851;
  border: 3px solid #ffc851;
}
.type-18 .products .content_product .add_to_cart a:after {
  content: "\f105";
  font-family: "FontAwesome", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 12px;
  right: 25%;
}
