.type-02 {
  background: url('../images/02-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
  height: 808px;
}
.type-02 .swiper-container {
  margin: 0 auto;
}
.type-02 .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.type-02 .swiper-slide .pizza-on-bg {
  text-align: center;
  position: relative;
  display: block;
}
.type-02 .swiper-slide .pizza-on-bg img {
  width: 500px;
  height: 500px;
  max-width: 100%;
  height: auto;
}
.type-02 .swiper-slide .mini-title-slide1 {
  text-align: center;
  position: relative;
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}
.type-02 .swiper-slide .mini-title-slide1 h1 {
  text-align: inherit;
  color: #fff;
  line-height: 40px;
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 40px;
}
.type-02 .swiper-slide .fname-slide-slide1 {
  text-align: center;
  position: relative;
  display: block;
  font-family: 'OpenSans', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  color: #FFF;
  word-wrap: break-word;
  margin-top: 50px;
  margin-bottom: 50px;
}
.type-02 .swiper-slide .slide-2 {
  margin-top: 5%;
  padding: 0 0 5px 5px;
}
.type-02 .swiper-slide .slide-2 .content-left {
  margin-top: 20%;
}
.type-02 .swiper-slide .slide-2 .content-left .mini-title-slide2 {
  position: relative;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}
.type-02 .swiper-slide .slide-2 .content-left .mini-title-slide2 h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 60px;
  letter-spacing: 12px;
  font-weight: 400;
  font-size: 60px;
  color: #fff;
}
.type-02 .swiper-slide .slide-2 .content-left .text-slide-slide2 {
  position: relative;
  display: block;
  white-space: normal;
}
.type-02 .swiper-slide .slide-2 .content-left .text-slide-slide2 h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  text-align: inherit;
  line-height: 30px;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 30px;
  color: #FFF;
}
.type-02 .swiper-slide .slide-2 .content-left .line-break {
  position: absolute;
  display: block;
  border: 2px solid white;
  width: 90%;
  margin-top: 3%;
}
.type-02 .swiper-slide .slide-2 .content-left .fname-slide-slide2 {
  margin-top: 15%;
  position: relative;
  display: block;
  font-family: 'OpenSans', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  color: #FFF;
  white-space: normal;
}
.type-02 .swiper-slide .slide-2 .content-left .btn-menu {
  max-width: 100%;
  margin-top: 5%;
  position: absolute;
  display: block;
  background-color: #ffc851;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: none;
  box-sizing: border-box;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 14px;
  border-color: #ffc851;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  padding: 5px 9px 7px 18px;
  color: #121618;
  white-space: nowrap;
}
.type-02 .swiper-slide .slide-2 .content-left .btn-menu:hover {
  background-color: transparent;
  color: #ffc851;
}
.type-02 .swiper-slide .slide-2 .content-right .pizza-on-bg-2 {
  display: block;
  position: relative;
}
.type-02 .swiper-slide .slide-2 .content-right .pizza-on-bg-2 img {
  width: 500px;
  height: 500px;
  max-width: 100%;
  height: auto;
}
.type-02 .swiper-button-next:hover {
  border: none;
  background-color: #937261;
  text-decoration: none;
}
.type-02 .swiper-button-prev:hover {
  border: none;
  background-color: #937261;
  text-decoration: none;
}
.type-02 .swiper-pagination-bullet {
  background: #000;
  opacity: .7;
}
.type-02 .swiper-pagination-bullet-active {
  background: #fff;
}
