.type-16 .box-filter-price {
  width: 355px;
  background: #1d2326;
}
.type-16 .box-filter-price .form-range {
  padding: 40px 38px;
}
.type-16 .box-filter-price .form-range form .filterName {
  margin-bottom: 35px;
}
.type-16 .box-filter-price .form-range form .filterName span {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow';
  font-size: 18px;
  color: #dce4e8;
  letter-spacing: 3px;
  font-weight: 700;
}
.type-16 .box-filter-price .form-range form #app {
  position: relative;
  margin-bottom: 70px;
}
.type-16 .box-filter-price .form-range form #app .slider .slider-dot {
  border-radius: 0px;
  width: 13px !important;
  height: 13px !important;
  top: -4px !important;
  background: #ffc851;
}
.type-16 .box-filter-price .form-range form #app .slider .slider-dot .slider-tooltip {
  position: absolute;
  left: -12px;
  top: 30px;
  background: none;
  border: none;
}
.type-16 .box-filter-price .form-range form #app .slider .slider-dot .slider-tooltip:before {
  display: none;
}
.type-16 .box-filter-price .form-range form #app .slider:after {
  border-radius: 0px;
}
.type-16 .box-filter-price .form-range form #app .slider-process {
  background: #ffc851;
}
.type-16 .box-filter-price .form-range form .btn-filter {
  position: relative;
}
.type-16 .box-filter-price .form-range form .btn-filter a {
  padding: 10px 20px;
  color: #dce4e8;
  font-size: 14px;
  font-family: 'PT Sans Narrow';
  letter-spacing: 3px;
  font-weight: normal;
  border: 2px solid #dce4e8;
}
.type-16 .box-filter-price .form-range form .btn-filter a:hover {
  border: 2px solid #FFC851;
  text-decoration: none;
  color: #FFC851;
}
