.type-08 {
  background: #121618;
  color: #dce4e8;
  font-family: "PT Sans Narrow";
  text-align: center;
}
.type-08 .text-tieude {
  margin-top: 104px;
  margin-bottom: 54px !important;
}
.type-08 .text-tieude h1 {
  letter-spacing: 8px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}
.type-08 .input {
  position: relative;
  background: transparent;
  border: 2px solid #1d2326;
  width: 55%;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3px;
  vertical-align: top;
  padding: 5px 15px 7px;
  margin-bottom: 20px !important;
}
.type-08 form input[type=submit],
.type-08 form input[type=reset] {
  position: absolute;
  bottom: 24%;
  right: 23.2%;
  width: 98px;
  padding: 9px 0px;
  background: #1d2326;
  border: 1px solid #1d2326;
}
.type-08 .dangkymail {
  padding-bottom: 55px;
}
.type-08 .dangki:hover {
  color: black;
  background: #ffc851;
}
@media only screen and (max-width: 991px) {
  .type-08 form input[type=submit] {
    bottom: 24.5%;
    right: 23.9%;
  }
}
@media only screen and (max-width: 744px) {
  .type-08 form input[type=submit] {
    bottom: 21.5%;
    right: 23.9%;
  }
}
@media only screen and (max-width: 700px) {
  .type-08 .text-tieude h1 {
    font-size: 25px;
  }
}
