.type-15 {
	background: #1D2326;
	width: 355px;
	.box-15 {
		padding: 40px 38px;
		.title-15 {
			h6 {
				font-size: 18px;
				font-family: 'PT Sans Narrow';
				color: #dce4e8;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 0px;
				margin-bottom: 35px;
			}
		}
		.content-15 {
			ul {
				list-style: none;
				padding-left: 0px;
				li {
					padding: 10px 0px;
					border-bottom: 1px solid #293033;
					position: relative;
					&:last-child {
						border-bottom: none;
					}
					&:before {
						position: absolute;
						content: '\f105';
						font-family: FontAwesome;
						right: 0px;
						top: 10px;
						cursor: pointer;
						font-size: 16px;
						color: #fff;
					}
					a {
						font-size: 16px;
						font-family: 'OpenSans';
						color: #dce4e8;
						&:hover {
							color: #ffc851;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}