.type-20 {
  background: #121618;
}
.type-20 .container .coupon {
  padding: 16px 32px;
  margin-bottom: 32px;
  border-top: 2px solid #1e85be;
  background: #252c30;
  font-family: 'OpenSans';
}
.type-20 .container .coupon span {
  padding-left: 24px;
  position: relative;
  font-size: 16px;
  color: #dce4e8;
}
.type-20 .container .coupon a {
  color: #dce4e8;
  font-size: 16px;
}
.type-20 .container .coupon a:hover {
  color: #ffc851;
  text-decoration: none;
}
.type-20 .container .coupon .active {
  color: #ffc851;
  text-decoration: none;
}
.type-20 .container .coupon .active:hover {
  color: #dce4e8;
}
.type-20 .container #form-code {
  border: 2px solid #dce4e8;
  margin-bottom: 32px;
  display: none;
}
.type-20 .container #form-code .form-code {
  padding: 20px;
}
.type-20 .container #form-code .form-code p {
  font-size: 16px;
  font-family: 'OpenSans';
  color: #dce4e8;
  margin: 0px 0px 18px;
}
.type-20 .container #form-code .form-code input {
  padding: 11px 14px 13px;
  width: 100%;
  background: #121618;
  border: 2px solid #1d2326;
  margin-bottom: 26px;
  color: #dce4e8;
}
.type-20 .container #form-code .form-code input:focus {
  outline: none;
}
.type-20 .container #form-code .form-code input::placeholder {
  letter-spacing: 3px;
  font-size: 14px;
}
.type-20 .container #form-code .form-code a {
  font-size: 14px;
  font-family: 'OpenSans';
  color: #dce4e8;
  padding: 6px 14px 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #1d2326;
  margin-top: 5px;
}
.type-20 .container #form-code .form-code a:hover {
  background: #ffc851;
  color: #121618;
  text-decoration: none;
}
